.FailurePopup > div {
  margin-bottom: 8px;
}

.FailureRow {
  display: flex;
  flex-direction: row;
  border: 3px solid transparent;
  padding: 4px;
  font-size: 12px;
}

.FailureRow div:nth-child(n + 2):before {
  content: " + ";
}

.Selected {
  background: rgba(0, 0, 0, 0.1);
  border-left: 3px solid rgba(80, 80, 80, 0.3);
}

.Node {
  margin: 2px;
  border-radius: 8px;
}

.AffectedNode {
  border: 1px solid grey;
}
